[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
alembic = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
requests-html = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
